<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SIS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ToCheckUser</servlet-name>
    <servlet-class>CheckUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToCheckUser</servlet-name>
    <url-pattern>/check</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ToInsertLeave</servlet-name>
    <servlet-class>ApplyLeave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToInsertLeave</servlet-name>
    <url-pattern>/apply</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SessionAbandan</servlet-name>
    <servlet-class>ToCloseSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionAbandan</servlet-name>
    <url-pattern>/close</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ToggleStatus</servlet-name>
    <servlet-class>MakeChange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToggleStatus</servlet-name>
    <url-pattern>/toggle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Find</servlet-name>
    <servlet-class>FindStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Find</servlet-name>
    <url-pattern>/find</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Delete</servlet-name>
    <servlet-class>SoftDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/soft</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Faculty</servlet-name>
    <servlet-class>Welc_Faculty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faculty</servlet-name>
    <url-pattern>/facul</url-pattern>
  </servlet-mapping>
</web-app>