<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Hall_Booking</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Bookit</servlet-name>
    <servlet-class>BookHall</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bookit</servlet-name>
    <url-pattern>/book</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Canceling</servlet-name>
    <servlet-class>Cancel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Canceling</servlet-name>
    <url-pattern>/cancel</url-pattern>
  </servlet-mapping>
</web-app>